[core]
    editor = vim
[init]
    defaultBranch = main
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[fetch]
    prune = true
[rerere]
    enabled = true
    autoUpdate = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autoCorrect = prompt
[commit]
    verbose = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[merge]
    conflictStyle = zdiff3
